body {
    background-color: gray;
}
div.grid {
    margin: auto;
    background-color: blue;
    width: fit-content;
    height: fit-content;
    border-radius: 2vw;
    place-items: center;
    padding: 1vw;
    border: 1.5vw double black; 
}

#NewGame{
  text-align: center;
  display: inline-block;
  margin: 0.8vw;
}

.NewGameContainer{
  margin: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#gameStateText{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

div.grid button {
    transition-duration: 0.4s;
    margin: auto;
    background-color: gray;
    color: white;
    text-align: center;
    margin: min(0.5vw, 1.2vh);
    display: inline-block;
    min-width: min(7vw, 11.2vh);
    min-height: min(7vw, 11.2vh);
    border-radius: 100%;
    border: 0.1vw solid blue
  }
  
 div.player1 button:hover {
    background-color: rgb(255, 170, 170);
  }

  div.player2 button:hover {
    background-color: lightyellow; 
  }

  h1 {
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      margin: 1vh;
  }