<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/connect_four.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <script type="text/javascript", src="/static/connect_four.js" async></script>
</head>
<body>
    <h1>Connect 4</h1>
    <div class="NewGameContainer">
        <button id = "NewGame">New Game</button>
        <span id="gameStateText">init</span>
    </div>
    <div class="grid"> 
        <div class="notmyturn" id ="player">
        {% for row in range(6) %}
            {% for column in range(7) %}
            <button id="{{row}}{{column}}"></button>
            {% endfor %}
            <br>
        {% endfor %}
        </div>
    </div>
    <br>
</body>
</html>